<h1>Music</h1>

<%= link_to "New Artist", new_music_artist_path %>

<ul>
<% @artists.each do |artist| %>
  <li>
    <%= artist.name %> <%= link_to "", music_artist_path(artist), confirm: "Are you sure?", method: :delete, class: "icon-trash" %>
    <ul>
      <li><%= link_to "New Song", new_music_artist_song_path(artist) %></li>
      <% artist.songs.each do |song| %>
        <li><%= song.name %> <%= link_to "", music_artist_song_path(artist, song), confirm: "Are you sure?", method: :delete, class: "icon-trash" %></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>
